@mixin PadPositions {
    padding: 50px;
    padding-bottom: 50px;
    
}

@mixin MarPositions {
    margin-bottom: 10px;
    
}

@mixin helloColors {
    color: navy;
    background-color: lemonchiffon;
    
}

@mixin todoColors {
    color: purple;
    background-color: lemonchiffon;
    
}