@import "./ComMixin.scss";
$orange: #F2AE30;

.todoapp__namebox{
    @include PadPositions;
    @include helloColors;
    @include MarPositions;
}

.todoapp__todobox{
    @include PadPositions;
    @include todoColors;

}

.todoapp__item-delete-btn{
    background-color: $orange;
    font-weight: bold;
    outline: none;
    font-size: 1rem;
    &:hover{
        background: lighten($color: $orange, $amount: 10%);
    }
    &:active{
        background: darken($color: $orange, $amount: 10%);
    }

}

.todoapp__name-submit-btn{
    color: #593E25;
    background-color: $orange;
    font-weight: bold;
    outline: none;
    font-size: 1rem;
    &:hover{
        background: lighten($color: $orange, $amount: 10%);
    }
    &:active{
        background: darken($color: $orange, $amount: 10%);
    }

}

.todoapp__inputbox-add-btn{
    color: #593E25;
    background-color: $orange;
    font-weight: bold;
    outline: none;
    font-size: 1rem;
    &:hover{
        background: lighten($color: $orange, $amount: 10%);
    }
    &:active{
        background: darken($color: $orange, $amount: 10%);
    }
}

#name_input{
    margin-top: 40px;
    margin-bottom: 30px;
}

.todoapp__inputbox-inp{
    margin-top: 40px;
}