@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=IBM+Plex+Sans+KR:wght@200&family=Noto+Serif+KR:wght@200&family=Sunflower:wght@300&family=Yeon+Sung&display=swap');

body {
    font-family: 'Yeon Sung', cursive;
}

body {
    text-align: center;
    background-color: linen;
    font-size: 30px;
    background: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 4000px;
    padding: 60px;

}

#your_introduce {
    padding-top: 70px;
}

.introduceBox {
    padding-top: 100px;
    padding-bottom: 70px;
}