@mixin MainPositions{
    text-align: center;
    padding: 60px;

}

@mixin MarPositions {
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

@mixin PadPositions {
    padding: 10px;
    padding-bottom: 200px;
    
}

@mixin PadPositions2 {
    padding: 10px;
    
}

@mixin colors1 {
    background-color: white;
}

@mixin colors2 {
    background-color: #F2C12E;
    color: darkslategrey;
    
}

@mixin colors3 {
    background-color: #024959;
    
}

// @mixin font {

    
// }